html,
body,
#root {
  font-family: var(--leva-fonts-mono);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #27271a;
  margin: 0;
  /* overflow: hidden; */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* touch-action: manipulation; */
  /* cursor: grab; 
  /* Using these safe-area-inset-* constants as the padding of a site, overlap of the notch can be prevented. */
  /* padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px)
    env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px); */
}

#root:active {
  cursor: grabbing;
}

/* .loader {
  border: 0.1rem solid #232222;
  border-top: 0.1rem solid #2f302f;
  border-radius: 50%;
  width: min(7.5vw, 7.5vh);
  height: min(7.5vw, 7.5vh);
  animation: spin 2s linear infinite;
}

#initialLoad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #3992ff;
  cursor: wait;
} */

.loading-bar {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #ffffff;
  /* transform: scaleX(0.01); */
  transform: scaleX(0.1);
  transform-origin: top left;
  /* transform-origin: top left; */
  transition: transform 0.5s;
}

.loading-bar.ended {
  transform: scaleX(0);
  /* transform-origin: 100% 0; */
  transform-origin: bottom right;
  transition: transform 1.5s ease-in-out;
}

/* .snipcart-modal__container {
  width: 60% !important;
  max-width: 540px !important;
  margin-left: auto !important;
  right: 0 !important;
}

.snipcart-modal__container.snipcart-layout--large {
  width: 100% !important;
  max-width: 100% !important;
} */

img {
  border-radius: 1rem;
}

#footer {
  position: absolute;
  bottom: 0;
  /* right: 295px; */
  /* text-align: right; */
  width: 100%;
  /* right: calc(50% - 10rem); */
  text-align: center;
  /* background: #181c20; */
  background: #adbaba;
  opacity: 0.98;
  /* color: #8c92a4; */
  color: #ffffff;
  padding: 0.25rem;
  /* border-radius: 0.75rem; */
  font-size: 1rem;
  pointer-events: none;
  /* font-family: var(--leva-fonts-mono); */
}

.photos {
  position: absolute;
  /* bottom: 4rem;
  width: 32rem;
  right: calc(50% - 16rem); */
  bottom: 5rem;
  width: 20rem;
  right: calc(50% - 10rem);
  text-align: center;
  background: #c6cfd1;
  opacity: 1;
  padding: 1rem;
  padding-bottom: 2rem;
  border-radius: 0.75rem;
  border: 1.5px solid grey;
  font-size: 1.25rem;
  pointer-events: manipulation;
  /* font-family: var(--leva-fonts-mono); */
}

.info {
  position: absolute;
  bottom: 3rem;
  /* right: 295px; */
  /* text-align: right; */
  width: 18rem;
  right: calc(50% - 9rem);
  text-align: center;
  background: #b8c2c4;
  opacity: 0.98;
  padding: 1rem;
  border-radius: 0.75rem;
  border: 1.5px solid grey;
  font-size: 1.25rem;
  pointer-events: none;
  /* font-family: var(--leva-fonts-mono); */
}

#title {
  color: #212121;
  margin-bottom: 0.25rem;
}

#description {
  font-size: 0.875rem;
  background: lightGrey;
  color: #212121;
  padding: 0.85rem;
  border-radius: 2rem;
  margin-top: 0.25rem;
}

#size {
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  color: #212121;
  padding: 0.25rem;
  border-radius: 2rem;
  border: 2px solid lightGrey;
}

.cart {
  /* transform: translate3d(calc(50%), calc(-50%), 0); */
  text-align: center;
  /* background: #181c20; */
  background: white;
  opacity: 0.75;
  /* color: #8c92a4; */
  color: #181c20;
  padding: 0.25rem 1.25rem 0.25rem 1.25rem;
  /* padding: 10px 15px; */
  /* border-radius: 30px; */
  border-radius: 50%;
  user-select: none;
  /* font-family: var(--leva-fonts-mono); */
  font-size: 3rem;
  pointer-events: auto;
  cursor: pointer;
}

.annotation-wrapper {
  display: grid;
  background: lightGrey;
  border-radius: 1rem;
  /* border-radius: 3rem; */
  /* padding: 0.35rem; */
  /* padding-top: 4rem; */
  padding-bottom: 0.5rem;
  border: 0.15rem solid rgb(155, 155, 155);
  /* border: 0.35rem solid rgb(155, 155, 155); */
}

.annotation {
  /* display: grid;
  grid-template-columns: auto auto auto; */
  /* transform: translate3d(calc(50%), calc(-50%), 0); */
  text-align: center;
  /* background: #181c20; */
  background: lightGrey;
  /* color: #8c92a4; */
  color: #181c20;
  padding: 0.5rem;
  /* padding: 1rem; */
  /* padding-top: 1rem; */
  /* padding-top: 2rem; */
  /* padding-bottom: 1rem; */
  /* padding-bottom: 1.75rem; */
  /* border-radius: 3rem; */
  user-select: none;
  /* font-family: var(--leva-fonts-mono); */
  /* font-size: 5rem; */
  /* pointer-events: none; */
  cursor: grab;
}

.annotation:active {
  cursor: grabbing;
}

/* .annotation::before {
  content: "";
  position: absolute;
  top: 5rem;
  left: -6rem;
  width: 6rem;
  background: lightGrey;
  height: 0.5rem;
} */

.annotation-options {
  display: grid;
  grid-template-columns: auto auto;
  /* gap: 3.5rem; */
  width: 100%;
  /* padding: 2.25rem; */
  /* padding-top: 1rem; */
  /* padding-bottom: 0.5rem; */
}

.color-menu-item-title {
  padding-top: 0.5rem;
  /* padding-top: 1rem; */
  text-align: center;
  color: #181c20;
  border-radius: 2rem;
  user-select: none;
  font-size: 1.5rem;
  /* font-size: 8rem; */
  cursor: grab;
}

.color-menu-part-title {
  /* padding-top: 0.5rem; */
  text-align: center;
  color: #424242;
  border-radius: 2rem;
  user-select: none;
  font-size: 0.95rem;
  /* font-size: 8rem; */
  cursor: grab;
}

.grid-container-stain {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0;
  /* gap: 2.5rem; */
  padding: 0;
  /* padding: 2rem; */
  margin-right: 0.25rem;
  /* margin-right: 1rem; */
  /* padding-bottom: 1.5rem; */
  border: 0.15rem solid rgb(170, 170, 170);
  /* border: 0.45rem solid rgb(170, 170, 170); */
  border-radius: 1rem;
  /* border-radius: 2rem; */
  /* margin-bottom: 0.75rem; */
  background-color: rgb(233, 234, 233);
}

.grid-container-paint {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0;
  /* gap: 2.5rem; */
  padding: 0;
  /* padding: 2rem; */
  margin-left: 0.25rem;
  /* margin-left: 1.5rem; */
  /* padding-bottom: 1.5rem; */
  border: 0.15rem solid rgb(170, 170, 170);
  /* border: 0.45rem solid rgb(170, 170, 170); */
  border-radius: 1rem;
  /* border-radius: 2rem; */
  /* margin-bottom: 0.75rem; */
  background-color: rgb(233, 234, 233);
}

.color-btn {
  background-color: rgba(255, 255, 255, 0.8);
  /* text-align: center; */
  /* font-size: 5rem; */
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 1rem;
  /* padding: 8rem; */
}

.shuffle-color-block {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background: lightGrey;
  /* padding-top: 0.2rem; */
  text-align: center;
  /* padding-top: 1.75rem; */
  /* padding-bottom: 1rem; */
  /* border-radius: 3rem; */
}

.buy-info-block {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  background: lightGrey;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  /* padding-top: 1.75rem;
  padding-bottom: 1rem; */
  /* border-radius: 3rem; */
}

/* button:hover {
  transform: scale(0.99);
  transition: transform 0.25s ease-in-out 0.5s;
} */

/* .colorBtn:active {
  transform: scale(0.97);
  border: 2px solid #000000;
  transition: transform 0.25s ease-in-out 0.5s;
} */

.color-exit-btn {
  position: absolute;
  top: 0.25rem;
  /* top: 2.5rem; */
  left: 0.15rem;
  /* left: 1.5rem; */
  /* background-color: rgb(226, 226, 226); */
  background: transparent;
  /* font-size: 10.5rem; */
  font-size: 1.75rem;
  color: #8c8b81;
  border: none;
  /* border-radius: 50%; */
  cursor: pointer;
  /* padding: 1rem; */
  /* margin: 1rem; */
}

.color-bgrd-btn {
  position: absolute;
  top: 0.25rem;
  /* top: 3rem; */
  right: 0.3rem;
  /* right: 2.05rem; */
  /* background-color: rgb(178, 178, 178); */
  background: transparent;
  /* font-size: 11rem; */
  font-size: 1.75rem;
  color: #ffffff;
  border: none;
  /* border-radius: 50%; */
  cursor: pointer;
  /* padding: 1rem;
  margin: 1rem; */
}

.color-shuffle-btn {
  /* position: absolute; */
  /* bottom: -0.75rem; */
  /* background-color: rgb(178, 178, 178); */
  left: calc(50% - 4.75rem);
  background: transparent;
  font-size: 1.75rem;
  /* font-size: 13rem; */
  color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  /* padding: 0rem; */
  /* margin: 1rem; */
}

.part-select-icon {
  background: transparent;
  font-size: 5rem;
  color: white;
  border: none;
  /* padding: 1rem;
  padding-bottom: 0rem;
  border: 0.5rem solid white;
  border-radius: 50%; */
}

.color-exit-btn:active {
  transform: scale(1.1);
  /* transform: scale(1.2); */
  /* transition: transform 0.1s ease-in-out 0.1s; */
}

.color-bgrd-btn:active {
  transform: scale(1.1);
  /* transform: scale(1.2); */
  /* transition: transform 0.1s ease-in-out 0.1s; */
}

.color-shuffle-btn:active {
  transform: scale(1.1);
  /* transform: scale(1.2); */
  /* transition: transform 0.1s ease-in-out 0.1s; */
}

@media only screen and (max-width: 380px) {
  .photos {
    bottom: 2rem;
    width: 20rem;
    right: calc(50% - 10rem);
  }
  /* .colorBtn {
    padding: 6rem;
  }
  .colorExitBtn {
    font-size: 9rem;
  }
  .colorBgrdBtn {
    font-size: 9rem;
  }
  .colorShuffleBtn {
    font-size: 9rem;
  }
  .color-menu-part-title {
    font-size: 6rem;
  }
  .part-select-icon {
    font-size: 6rem;
  } */
}
@media only screen and (min-width: 381px) {
  .photos {
    bottom: 2rem;
    width: 23rem;
    right: calc(50% - 11.5rem);
  }
  /* .color-menu-part-title {
    font-size: 6.75rem;
  }
  .color-menu-item-title {
    font-size: 8.75rem;
  } */
}
@media screen and (max-width: 900px) and (min-width: 600px) {
  .photos {
    bottom: 2rem;
    width: 32rem;
    right: calc(50% - 16rem);
  }
  /* .colorBtn {
    padding: 10rem;
  }
  .colorExitBtn {
    font-size: 11.5rem;
  }
  .colorBgrdBtn {
    font-size: 12rem;
  }
  .colorShuffleBtn {
    font-size: 14rem;
  }
  .color-menu-part-title {
    font-size: 8rem;
  }
  .color-menu-item-title {
    font-size: 10rem;
  } */
}
@media screen and (max-width: 1040px) and (min-width: 901px) {
  .photos {
    bottom: 2rem;
    width: 30rem;
    right: calc(50% - 15rem);
  }
  /* .colorBtn {
    padding: 10rem;
  }
  .colorExitBtn {
    font-size: 11.5rem;
  }
  .colorBgrdBtn {
    font-size: 12rem;
  }
  .colorShuffleBtn {
    font-size: 14rem;
  }
  .color-menu-part-title {
    font-size: 7.5rem;
  }
  .color-menu-item-title {
    font-size: 10rem;
  } */
}
@media screen and (max-width: 2000px) and (min-width: 1041px) {
  .photos {
    bottom: 2rem;
    width: 30rem;
    right: calc(50% - 15rem);
  }
  /* .colorBtn {
    padding: 10rem;
  }
  .colorExitBtn {
    font-size: 11.5rem;
  }
  .colorBgrdBtn {
    font-size: 12rem;
  }
  .colorShuffleBtn {
    font-size: 14rem;
  }
  .color-menu-part-title {
    font-size: 7.5rem;
  }
  .color-menu-item-title {
    font-size: 10rem;
  } */
}

@media only screen and (max-width: 670px) and (min-width: 360px) and (orientation: landscape) {
  .photos {
    bottom: 0.25rem;
    width: 36svw;
    right: calc(50% - 18svw);
  }
}
@media only screen and (max-width: 935px) and (min-width: 671px) and (orientation: landscape) {
  .photos {
    bottom: 0.25rem;
    width: 30svw;
    right: calc(50% - 15svw);
  }
}
@media only screen and (max-width: 1200px) and (min-width: 936px) and (orientation: landscape) {
  .photos {
    bottom: 4rem;
    width: 42svw;
    right: calc(50% - 21svw);
  }
}
@media only screen and (max-width: 1400px) and (min-width: 1201px) and (orientation: landscape) {
  .photos {
    bottom: 1rem;
    width: 36svw;
    right: calc(50% - 18svw);
  }
}
@media only screen and (max-width: 1450px) and (min-width: 1401px) and (orientation: landscape) {
  .photos {
    bottom: 1rem;
    width: 30svw;
    right: calc(50% - 15svw);
  }
}

/* snipcart customization */
#snipcart {
  /* ----------------- 
        Colors
    ----------------- */
  --color-default: hsl(0, 0%, 7%);
  /* --color-default: hsl(0, 0%, 90%); */
  --color-alt: hsl(0, 0%, 7%);
  /* --color-alt: hsl(0, 0%, 50%); */
  --color-icon: hsl(200, 91%, 13%);
  /* --color-icon: hsl(200, 90%, 40%); */
  --color-success: hsl(144, 50%, 55%);
  --color-error: hsl(6, 88%, 93%);
  /* --color-error: hsl(6, 55%, 60%); */

  --color-link: hsl(220, 70%, 55%);
  --color-link-hover: hsl(220, 70%, 65%);
  --color-link-active: var(--color-link);
  --color-link-focus: var(--color-link);

  --color-input: var(--color-default);
  --color-input-hover: var(--color-input);
  --color-input-focus: var(--color-input);
  --color-input-checked: var(--color-input);
  --color-input-disabled: var(--color-alt);
  --color-input-error: var(--color-error);
  --color-inputLabel: var(--color-default);
  --color-inputLabel-hover: var(--color-inputLabel);
  --color-inputLabel-focus: var(--color-inputLabel);
  --color-inputIcon: var(--color-alt);
  --color-inputIcon-hover: var(--color-default);
  --color-inputIcon-focus: var(--color-inputIcon);
  --color-inputIcon-checked: var(--color-default);
  --color-inputIcon-error: var(--color-error);
  --color-inputPlaceholder: var(--color-alt);

  --color-buttonPrimary: hsl(0, 0%, 100%);
  /* --color-buttonPrimary: var(--color-default); */
  --color-buttonPrimary-hover: hsl(0, 0%, 100%);
  /* --color-buttonPrimary-hover: hsl(0, 0%, 100%); */
  --color-buttonPrimary-active: var(--color-buttonPrimary);
  --color-buttonPrimary-focus: var(--color-buttonPrimary);
  --color-buttonPrimary-disabled: var(--color-alt);
  --color-buttonPrimary-success: var(--color-buttonPrimary);
  --color-buttonPrimary-error: var(--color-buttonPrimary);

  --color-buttonSecondary: var(--color-icon);
  --color-buttonSecondary-hover: hsl(200, 90%, 50%);
  --color-buttonSecondary-active: var(--color-buttonSecondary);
  --color-buttonSecondary-focus: var(--color-buttonSecondary);
  --color-buttonSecondary-disabled: hsl(210, 10%, 25%);
  --color-buttonSecondary-success: var(--color-success);
  --color-buttonSecondary-error: var(--color-error);

  --color-buttonDanger: var(--color-error);
  --color-buttonDanger-hover: hsl(6, 55%, 70%);
  --color-buttonDanger-active: var(--color-buttonDanger);
  --color-buttonDanger-focus: var(--color-buttonDanger);
  --color-buttonDanger-disabled: hsl(210, 10%, 25%);
  --color-buttonDanger-success: var(--color-default);
  --color-buttonDanger-error: var(--color-default);

  --color-badge: var(--color-link);
  --color-badge-active: var(--color-link);
  --color-badge-disabled: var(--color-alt);

  /* ----------------- 
        Border colors
    ----------------- */
  --borderColor-default: hsla(0, 0%, 100%, 10%);
  --borderColor-error: hsl(6, 55%, 30%);

  --borderColor-link: currentColor;
  --borderColor-link-hover: currentColor;
  --borderColor-link-active: currentColor;
  --borderColor-link-focus: currentColor;

  --borderColor-input: hsla(0, 0%, 100%, 10%);
  --borderColor-input-hover: hsl(200, 90%, 40%);
  --borderColor-input-focus: var(--borderColor-input-hover);
  --borderColor-input-checked: var(--borderColor-input-hover);
  --borderColor-input-disabled: hsl(210, 10%, 20%);
  --borderColor-input-error: var(--borderColor-error);

  --borderColor-buttonPrimary: transparent;
  --borderColor-buttonPrimary-hover: transparent;
  --borderColor-buttonPrimary-focus: transparent;
  --borderColor-buttonPrimary-disabled: transparent;
  --borderColor-buttonPrimary-success: transparent;
  --borderColor-buttonPrimary-error: transparent;

  --borderColor-buttonSecondary: transparent;
  --borderColor-buttonSecondary-hover: transparent;
  --borderColor-buttonSecondary-focus: transparent;
  --borderColor-buttonSecondary-disabled: transparent;
  --borderColor-buttonSecondary-success: transparent;
  --borderColor-buttonSecondary-error: transparent;

  --borderColor-badge: transparent;
  --borderColor-badge-active: transparent;
  --borderColor-badge-disabled: transparent;

  /* ----------------- 
        Background colors
    ----------------- */
  --bgColor-default: hsl(200, 10%, 94%);
  /* --bgColor-default: hsl(210, 10%, 11%); */
  --bgColor-alt: hsl(206, 22%, 85%);
  /* --bgColor-alt: hsl(210, 10%, 9%); */
  --bgColor-success: hsl(144, 70%, 15%);
  --bgColor-error: hsl(6, 31%, 59%);
  /* --bgColor-error: hsl(6, 50%, 15%); */
  --bgColor-info: hsl(210, 76%, 69%);
  /* --bgColor-info: hsl(210, 55%, 15%); */

  --bgColor-modal: hsl(204, 20%, 90%);
  /* --bgColor-modal: hsl(210, 10%, 7%); */
  --bgColor-modalVeil: hsl(208, 35%, 61%);
  /* --bgColor-modalVeil: hsla(210, 10%, 7%, 0.75); */

  --bgColor-link: none;
  --bgColor-link-hover: none;
  --bgColor-link-active: none;
  --bgColor-link-focus: hsl(210, 55%, 10%);

  --bgColor-input: hsl(0, 0%, 100%);
  /* --bgColor-input: hsl(210, 10%, 10%); */
  --bgColor-input-hover: var(--bgColor-input);
  --bgColor-input-focus: var(--bgColor-input);
  --bgColor-input-checked: var(--borderColor-input-hover);
  --bgColor-input-disabled: hsl(210, 10%, 14%);
  --bgColor-input-error: var(--bgColor-input);
  --bgColor-input-autofill: hsl(208, 35%, 61%);
  /* --bgColor-input-autofill: hsl(210, 60%, 15%); */

  --bgColor-buttonPrimary: hsl(220, 70%, 22%);
  /* --bgColor-buttonPrimary: hsl(220, 70%, 22%); */
  --bgColor-buttonPrimary-hover: hsl(220, 70%, 30%);
  --bgColor-buttonPrimary-active: var(--bgColor-buttonPrimary);
  --bgColor-buttonPrimary-focus: var(--bgColor-buttonPrimary);
  --bgColor-buttonPrimary-disabled: hsl(210, 10%, 25%);
  --bgColor-buttonPrimary-success: hsl(144, 66%, 30%);
  --bgColor-buttonPrimary-error: hsl(6, 60%, 35%);

  --bgColor-buttonSecondary: var(--bgColor-info);
  --bgColor-buttonSecondary-hover: hsl(210, 60%, 18%);
  --bgColor-buttonSecondary-active: var(--bgColor-buttonSecondary);
  --bgColor-buttonSecondary-focus: var(--bgColor-buttonSecondary);
  --bgColor-buttonSecondary-disabled: hsl(210, 10%, 9%);
  --bgColor-buttonSecondary-success: var(--bgColor-success);
  --bgColor-buttonSecondary-error: var(--bgColor-error);

  --bgColor-buttonDanger: var(--bgColor-error);
  --bgColor-buttonDanger-hover: hsl(6, 50%, 18%);
  --bgColor-buttonDanger-active: var(--bgColor-buttonDanger);
  --bgColor-buttonDanger-focus: var(--bgColor-buttonDanger);
  --bgColor-buttonDanger-disabled: hsl(210, 10%, 9%);
  --bgColor-buttonDanger-success: hsl(144, 66%, 30%);
  --bgColor-buttonDanger-error: hsl(6, 60%, 35%);

  --bgColor-badge: hsl(207, 24%, 93%);
  /* --bgColor-badge: hsl(210, 55%, 10%); */
  --bgColor-badge-active: hsl(0, 0%, 100%);
  /* --bgColor-badge-active: hsl(210, 60%, 15%); */
  --bgColor-badge-disabled: hsl(210, 10%, 11%);

  /* ----------------- 
        Shadows
    ----------------- */

  --shadow-default: 0px 20px 24px -20px hsla(0, 0%, 0%, 0.5);
  --shadow-tooltip: 0px 8px 16px hsla(220, 70%, 22%, 0.5);

  --shadow-link-focus: 0px 6px 4px -3px hsla(200, 90%, 40%, 0.5);

  --shadow-input-hover: none;
  --shadow-input-focus: 0px 5px 10px -3px hsla(200, 90%, 40%, 0.3);
  --shadow-input-checked: none;

  --shadow-buttonPrimary-hover: 0px 10px 4px -8px hsla(0, 0%, 0%, 0.5);
  --shadow-buttonPrimary-active: none;
  --shadow-buttonPrimary-focus: 0px 0px 6px 2px hsl(200, 90%, 40%);

  --shadow-buttonSecondary-hover: 0px 10px 4px -8px hsla(0, 0%, 0%, 0.2);
  --shadow-buttonSecondary-active: none;
  --shadow-buttonSecondary-focus: 0px 0px 6px 2px hsla(200, 90%, 40%, 0.8);

  --shadow-buttonDanger-hover: 0px 10px 4px -8px hsla(0, 0%, 0%, 0.25);
  --shadow-buttonDanger-active: none;
  --shadow-buttonDanger-focus: 0px 0px 6px 2px hsla(6, 55%, 60%);
}
