html,
body,
#root {
  font-family: var(--leva-fonts-mono);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #adbaba;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root:active {
  cursor: grabbing;
}

/* width */
::-webkit-scrollbar {
  width: 0.4rem;
}

/* track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 1rem;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: lightGrey;
  border-radius: 1rem;
}

.bottom-A-test {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  text-align: center;
  background: #ffffff;
  opacity: 0.98;
  color: #2c69aa;
  padding: 0.25rem;
  font-size: 1rem;
  pointer-events: none;
  border-radius: 1rem;
}

.loading-bar {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #ffffff;
  transform: scaleX(0.1);
  transform-origin: top left;
  transition: transform 0.25s;
}

.loading-bar.ended {
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
}

.loader {
  margin-bottom: 100px;
  border: 1px solid #757575;
  border-top: 0.1rem solid #e0e0e0;
  border-radius: 50%;
  width: min(7.5vw, 7.5vh);
  height: min(7.5vw, 7.5vh);
  animation: spin 2s linear infinite;
  -webkit-font-smoothing: antialiased;
}

img {
  border-radius: 0.25rem;
  object-fit: contain;
  width: "100%";
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: transparent;
  opacity: 0.98;
  color: #2c69aa;
  padding: 0.25rem;
  font-size: 0.95rem;
  pointer-events: none;
}

.shop-item-description {
  text-align: center;
  width: 20rem;
  background: transparent;
  border-radius: 0.25rem;
  pointer-events: none;
}

.single-view {
  padding-bottom: 3rem;
  overflow: auto;
  margin-top: 0.5rem;
  background: transparent;
  border-radius: 0.25rem;
  pointer-events: none;
}

.info {
  position: absolute;
  width: 90svw;
  height: 80svh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: transparent;
  margin-top: 1rem;
  border-radius: 0.25rem;
  pointer-events: none;
}

.options {
  position: absolute;
  width: 80svw;
  height: 80svh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: transparent;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-radius: 0.25rem;
  overflow: auto;

  pointer-events: none;
}

.options-box {
  position: absolute;
  top: 8rem;
  pointer-events: auto;
  width: 100%;
  max-width: 24rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 3;
}

#title {
  margin-bottom: 0.25rem;
}

#description {
  background: lightGrey;
  padding: 0.75rem;
  border-radius: 1rem;
  margin-top: 0.75rem;
}

#size {
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  padding: 0.25rem;
  border-radius: 2rem;
  border: 2px solid lightGrey;
}

.cart {
  text-align: center;
  background: white;
  opacity: 0.75;
  color: #181c20;
  padding: 0.25rem 1.25rem 0.25rem 1.25rem;
  border-radius: 50%;
  user-select: none;
  font-size: 3rem;
  pointer-events: auto;
  cursor: pointer;
}

.annotation {
  text-align: center;
  color: #181c20;
  padding-top: 0.35rem;
  padding-bottom: 0rem;
  user-select: none;
  cursor: grab;
}

.annotation:active {
  cursor: grabbing;
}

.annotation-wrapper {
  display: grid;
  border-radius: 1rem;
  padding-bottom: 0.75rem;
  opacity: 0.925;
}

.annotation-wrapper-span {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  margin-top: 1rem;
  border: 0.075rem solid rgb(233, 234, 233);
  border-radius: 1rem;
  background-color: transparent;
}

.annotation-options {
  display: grid;
  grid-template-columns: auto;
  width: 100%;
}

.color-menu-item-title {
  margin: 0;
  text-align: center;
  user-select: none;
  cursor: grab;
}

.color-menu-item-description {
  text-align: center;
  padding-top: 0.35rem;
  user-select: none;
  cursor: grab;
  max-width: 15rem;
  margin: auto;
}

.grid-container-stain {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 0;
  /* margin-right: 0.15rem; */
  /* border: 0.15rem solid rgb(170, 170, 170); */
  /* border-radius: 1rem; */
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  background-color: rgb(233, 234, 233);
}

.grid-container-paint {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 0;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: rgb(233, 234, 233);
}

.color-btn {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.shuffle-color-block {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background: lightGrey;
  text-align: center;
}

.split-shuffle-block {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  justify-content: center;
  margin-top: 0.5rem;
  align-items: center;
}

.buy-info-block {
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  align-items: center;
}

.color-exit-btn {
  position: absolute;
  top: 0.25rem;
  left: 0.15rem;
  background: transparent;
  font-size: 1.5rem;
  color: #8c8b81;
  border: none;
  cursor: pointer;
}

.color-bgrd-btn {
  position: absolute;
  top: 0.25rem;
  right: 0.3rem;
  background: transparent;
  font-size: 1.75rem;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.color-shuffle-btn {
  left: 50%;
  transform: translate(-50%);
  background: transparent;
  font-size: 1.75rem;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.part-select-icon {
  background: transparent;
  font-size: 14rem;
  color: white;
  border: none;
}

.color-exit-btn:active {
  transform: scale(1.1);
}

.color-bgrd-btn:active {
  transform: scale(1.1);
}

.color-shuffle-btn:active {
  transform: scale(1.1);
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .photos {
    width: 25rem;
  }
  .slick-slide img {
    height: 33.3333rem;
    width: 25rem;
  }
}

@media screen and (max-width: 1040px) and (min-width: 901px) {
  .photos {
    width: 27rem;
  }
  .slick-slide img {
    height: 36rem;
    width: 27rem;
  }
}

@media screen and (max-width: 2000px) and (min-width: 1041px) {
  .photos {
    width: 30rem;
  }
  .slick-slide img {
    height: 40rem;
    width: 30rem;
  }
}
@media only screen and (orientation: landscape) {
}

.snipcart__font--default,
.snipcart__font--secondary,
.snipcart__font--subtitle,
.snipcart__font--subtitle-small {
  font-family: var(--leva-fonts-mono), sans-serif;
}
